/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #fff;
}

/* Header styling */
header {
    background-color: #fa1e1e;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

header .logo h1 {
    font-size: 2.5em;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

/* Hero section */
.hero {
    background-color: #fff;
    color: #333;
    padding: 50px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero .cta-button {
    background-color: #ff0000;
    color: #fff;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 1px;
}

.hero .cta-button:hover {
    background-color: none;
}

/* Features section */
.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: #fff;
}

.feature-item {
    background-color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    width: 20%;
}

.feature-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: #333;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}





